<nav class="menu">
  <a routerLink="home" class="home"><p class="main">Городской сайт</p></a>
  <div class="angle"></div>
  <div class="menu-wrapper">
    <a routerLink="#" routerLinkActive="active" class="point"><span>Пункт 1</span></a>
    <a routerLink="#" routerLinkActive="active" class="point"><span>Пункт 2</span></a>
    <a routerLink="#" routerLinkActive="active" class="point"><span>Пункт 3</span></a>
    <a routerLink="register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
       class="point"><span>Пункт
      4</span></a>
    <a routerLink="#" routerLinkActive="active" class="point"><span>Пункт 5</span></a>
  </div>
</nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
<footer>
  <div class="footer-container">
    <nav>
      <a href="#">&copy; 2016 Городской сайт</a>
      <a href="#">Пользовательское соглашение</a>
      <a href="#">Инструкции</a>
      <a href="#">Рекламодателям</a>
    </nav>
    <div>
      <p>Сделано в Беларуси</p>
    </div>
  </div>
</footer>
