<div class="form-content">
  <p>Все поля формы обязательны для заполнения</p>
  <form [formGroup]="cardForm">
    <ul class="flex-outer">
      <li>
        <label for="cardNumber">Номер карты:</label>
        <div class="input-wrapper">
          <input type="text" id="cardNumber" formControlName="cardNumber" maxlength="16"  autocomplete="off">
          <div class="error" *ngIf="isInvalid('cardNumber')">{{catchError('cardNumber')
            }}</div>
        </div>
      </li>
      <li>
        <label for="term">Месяц/год:</label>
        <div class="input-wrapper">
          <input type="text" id="term" formControlName="term" maxlength="5"  autocomplete="off">
          <div class="error" *ngIf="isInvalid('term')">{{catchError('term')}}</div>
        </div>
      </li>
      <li>
        <label for="codeType">CVC2 или CVV2:</label>
        <div class="input-wrapper">
          <input type="password" id="codeType" formControlName="codeType" maxlength="3" autocomplete="off">
          <div class="error" *ngIf="isInvalid('codeType')">{{catchError('codeType')}}</div>
        </div>
      </li>
      <li>
        <label for="cardType">Тип карты:</label>
        <div class="input-wrapper" id="cardType">
          <input type="radio" name="cardType" id="debit" value="дебетовая" formControlName="cardType">
          <label for="debit">
            <span class="outer-circle"><span class="inner-circle"></span></span>
            Дебетовая
          </label>
          <input type="radio" name="cardType" id="credit" value="кредитная" formControlName="cardType">
          <label for="credit">
            <span class="outer-circle"><span class="inner-circle"></span></span>
            Кредитная</label>
        </div>
      </li>
    </ul>
  </form>
</div>
<div class="button-wrapper">
  <div class="link-wrapper"><a (click)="goTab('form/(form:userEdit)')">Личные данные</a></div>
  <button class="nav button" (click)="getUserInfo()">Далее</button>
</div>
